@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Advisor</h2>
<p>Danışman bilgilerini buradan görüntüleyebilirsiniz.</p>
<a href="/Advisor/Details/1">Danışman Detayları için Tıklayın</a>
