@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Ders Seçimi</h2>
<p>Seçilen Ders: @ViewBag.SelectedCourse</p>
<p>Ders detaylarını görmek veya kaydı tamamlamak için diğer işlemleri ekleyebilirsiniz.</p>
